body { font-family: Arial, sans-serif; }
#game { max-width: 600px; margin: 20px auto; }
.card { padding: 5px; border: 1px solid #000; margin: 2px; display: inline-block; }
.red { color: red; }
#status { color: #d90429; }
